### lambda function

<span style = font-size:0.8em;>
In Python, a lambda function is a small anonymous function defined using the lambda keyword. It can take any number of arguments, but can only have one expression. Lambda functions are often used when you need a simple function for a short period of time.<br><br>
The syntax of a lambda function is:<br>
    <code>lambda arguments: expression</code>
</span>

In [1]:
n = 3 
p = 2

In [2]:
def test(n,p):
    return n**p

In [3]:
test(3,2)

9

In [4]:
test(9,4)

6561

In [5]:
a = lambda n,p: n**p

In [6]:
a(3,2)

9

In [7]:
a(9,4)

6561

In [8]:
add = lambda x,y : x+y

In [9]:
add(7,13)

20

In [10]:
add(234,34)

268

In [11]:
max_two = lambda x,y : x if x>y else y

In [12]:
max_two(998,765)

998

In [13]:
s = "myskills"

In [14]:
len_st = lambda s : len(s)

In [15]:
len_st(s)

8

### Map function

<span style = font-size:0.8em;>
In Python, the <code> map()</code> function is used to apply a given function to each item of an iterable (like a list, tuple, etc.) and returns an iterator that yields the results.<br><br>
The syntax of a map function is:<br>
    <code>map(function, iterable)</code><br>
   <i> function</i>: This is a function to which each element of the iterable will be applied.<br>
   <i> iterable<i>: This is the iterable that will be mapped.
 </span>

In [16]:
l = [1,2,3,4,45,5]

In [17]:
# function to calculate square of each element in a list
def test1(l):
    t = []
    for i in l:
        t.append(i**2)
    return t

In [18]:
test1(l)

[1, 4, 9, 16, 2025, 25]

In [19]:
# Now creating a simple square function
def sq(x):
    return x**2

In [20]:
# Example of using map function
list(map(sq,l))

[1, 4, 9, 16, 2025, 25]

In [21]:
# Example of a map function using lambda function
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 2025, 25]

In [22]:
list(map(lambda x: x+10,l))

[11, 12, 13, 14, 55, 15]

In [23]:
# Example of a map function using lambda function to make each element a string in the list
list(map(lambda x: str(x),l))

['1', '2', '3', '4', '45', '5']

In [24]:
# Example for addition of each element in both the list based on indices
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

In [25]:
list(map(lambda x,y: x+y,l1,l2))

[7, 9, 11, 13, 15]

In [26]:
f = lambda x,y: x+y

In [27]:
list(map(f,l1,l2))

[7, 9, 11, 13, 15]

In [28]:
#Example for making each element in a string to upper case
s = 'myskills'

In [29]:
list(map(lambda x: x.upper(),s))

['M', 'Y', 'S', 'K', 'I', 'L', 'L', 'S']

### Reduce function<br>
<span style = font-size:0.8em;>
In Python, the <code>reduce()</code> function is part of the <code>functools</code> module is used to perform a specific operation (defined by a function) on a list of items and get a single result.<br>

Working :  
<ul>
    <li>
        At first step, first two elements of sequence are picked and the result is obtained.
   </li>

 <li>
    Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
 </li>
    <li>
    This process continues till no more elements are left in the container.
   </li>
    <li>
    The final returned result is returned and printed on console.
   </li>
</ul>
    
The syntax of a map function is:<br>
```python
from functools import reduce
result = reduce(function, iterable, initial)
```
*function*: This is the function that will be applied to the elements. It should take two arguments.

*iterable*: This is the iterable to be reduced.

*initial (optional)*: This is the initial value, which is used as the first argument to the function.


</span>

In [30]:
from functools import  reduce

In [31]:
l = [1,2,3,4,5,4]

In [32]:
reduce(lambda x,y: x+y,l)

19

In [33]:
def add(x,y):
    return x+y

In [34]:
reduce(add,l)

19

In [35]:
# reduce(lambda x , y , z : x+y+z , l)
# Cell In[42], line 1
# ----> 1 reduce(lambda x , y , z : x+y+z , l)

# TypeError: <lambda>() missing 1 required positional argument: 'z'

In [36]:
l

[1, 2, 3, 4, 5, 4]

In [37]:
# reduce(lambda x , y : x+y , [])
# Cell In[45], line 1
# ----> 1 reduce(lambda x , y : x+y , [])

# TypeError: reduce() of empty iterable with no initial value

In [38]:
reduce(lambda x , y : x+y , [1])

1

In [39]:
l

[1, 2, 3, 4, 5, 4]

In [40]:
reduce(lambda x , y : x*y , [1])

1

In [41]:
reduce(lambda x,y : x if x> y else y , l)

5

### Filter function
<span style = font-size:0.8em;>
In Python, the <code>filter()</code> function is used to filter elements from an iterable (such as a list, tuple, etc.) based on a specified condition. It takes two arguments:<br>
The syntax of a map function is:

`filter(function, iterable)` <br>
*function*: This is a function that takes a single argument and returns True or False based on whether the element should be included in the filtered result.<br>

*iterable*: This is the iterable containing the elements to be filtered.

The `filter()` function then returns an iterator containing the elements from the iterable for which the function returns True
</span>

In [42]:
l

[1, 2, 3, 4, 5, 4]

In [43]:
list(filter(lambda x : x % 2 ==0 , l))  # filtering even elements

[2, 4, 4]

In [44]:
list(filter(lambda x : x % 2 !=0 , l))  # filtering odd elements

[1, 3, 5]

In [45]:
l1 = [-2,4,5,6,-3,-6,-7]

In [46]:
list(filter(lambda x : x<0 , l1))  # filtering negative elements

[-2, -3, -6, -7]

In [47]:
list(filter(lambda x : x>=0 , l1))  # filtering positive elements

[4, 5, 6]

In [48]:
l2 = ["subhan" , "skill" , "reza" , "bangalore" , "delhi"]

In [49]:
list(filter(lambda x: len(x)<6,l2)) # filtering string having length less than 6

['skill', 'reza', 'delhi']