In [2]:
import pymongo 
client = pymongo.MongoClient("mongodb+srv://sreza866:subhanreza@cluster0.lqetryo.mongodb.net/")
db = client.test

In [3]:
client

MongoClient(host=['ac-q0nnibw-shard-00-01.lqetryo.mongodb.net:27017', 'ac-q0nnibw-shard-00-02.lqetryo.mongodb.net:27017', 'ac-q0nnibw-shard-00-00.lqetryo.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-82uu9x-shard-0', tls=True)

In [4]:
client = pymongo.MongoClient("mongodb+srv://sreza866:subhanreza@cluster0.lqetryo.mongodb.net/")

In [5]:
db = client['myskills']

In [6]:
coll_create = db['my_record']

In [7]:
data = { "name":"reza",
        "age":23,
        "course":"Data Science"      
}

In [8]:
coll_create.insert_one(data)

InsertOneResult(ObjectId('6627f9e2845780b308c1fc02'), acknowledged=True)

In [9]:
data1 = {"mail_id" : "reza@gmail.com",
         "phone_number" :2343243242
}

In [10]:
coll_create.insert_one(data1)

InsertOneResult(ObjectId('6627fb6c845780b308c1fc03'), acknowledged=True)

In [11]:
data2 = {"list_course" : ["data science masters " , "web dev " , "java with DSA"],
        "mentor" : ["sudhanshu" , "anurag" , "hyder"]}

In [12]:
coll_create.insert_one(data2)

InsertOneResult(ObjectId('6627fbb5845780b308c1fc04'), acknowledged=True)

In [13]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [15]:
coll_create.insert_many(data3)

InsertManyResult([ObjectId('6627fc05845780b308c1fc05'), ObjectId('6627fc05845780b308c1fc06'), ObjectId('6627fc05845780b308c1fc07'), ObjectId('6627fc05845780b308c1fc08'), ObjectId('6627fc05845780b308c1fc09'), ObjectId('6627fc05845780b308c1fc0a'), ObjectId('6627fc05845780b308c1fc0b'), ObjectId('6627fc05845780b308c1fc0c'), ObjectId('6627fc05845780b308c1fc0d'), ObjectId('6627fc05845780b308c1fc0e'), ObjectId('6627fc05845780b308c1fc0f'), ObjectId('6627fc05845780b308c1fc10')], acknowledged=True)

In [16]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [17]:
coll_create.insert_one(data4)

InsertOneResult(ObjectId('6627fc23845780b308c1fc11'), acknowledged=True)

In [18]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [19]:
coll_create.insert_many(list_of_records)

InsertManyResult([ObjectId('6627fc6d845780b308c1fc12'), ObjectId('6627fc6d845780b308c1fc13'), ObjectId('6627fc6d845780b308c1fc14')], acknowledged=True)

In [20]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6627f9e2845780b308c1fc02'), 'name': 'reza', 'age': 23, 'course': 'Data Science'}
{'_id': ObjectId('6627fb6c845780b308c1fc03'), 'mail_id': 'reza@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('6627fbb5845780b308c1fc04'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('6627fc05845780b308c1fc05'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6627fc05845780b308c1fc06'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6627fc05845780b308c1fc07'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6627fc05845780b308c1fc08'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6627fc05845780b308c1fc09'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6627fc05845780b308c1fc0a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6627fc05845780b308c1fc0b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6627fc05845780b308c1fc0c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6627fc05845780b308c1fc0d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6627fc05845780b308c1fc0e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6627fc05845780b308c1fc0f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6627fc05845780b308c1fc10'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6627fc23845780b308c1fc11'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6627fc6d845780b308c1fc12'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6627fc6d845780b308c1fc13'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6627fc6d845780b308c1fc14'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [21]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [22]:
coll_create.insert_many(random_data)

InsertManyResult(['3', '4', '5'], acknowledged=True)

In [23]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6627f9e2845780b308c1fc02'), 'name': 'reza', 'age': 23, 'course': 'Data Science'}
{'_id': ObjectId('6627fb6c845780b308c1fc03'), 'mail_id': 'reza@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('6627fbb5845780b308c1fc04'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('6627fc05845780b308c1fc05'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6627fc05845780b308c1fc06'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6627fc05845780b308c1fc07'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6627fc05845780b308c1fc08'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6627fc05845780b308c1fc09'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6627fc05845780b308c1fc0a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6627fc05845780b308c1fc0b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6627fc05845780b308c1fc0c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6627fc05845780b308c1fc0d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6627fc05845780b308c1fc0e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6627fc05845780b308c1fc0f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6627fc05845780b308c1fc10'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6627fc23845780b308c1fc11'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6627fc6d845780b308c1fc12'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6627fc6d845780b308c1fc13'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6627fc6d845780b308c1fc14'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [24]:
coll_create.find_one()

{'_id': ObjectId('6627f9e2845780b308c1fc02'),
 'name': 'reza',
 'age': 23,
 'course': 'Data Science'}

In [25]:
for i in coll_create.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': ObjectId('6627fc6d845780b308c1fc12'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6627fc6d845780b308c1fc13'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6627fc6d845780b308c1fc14'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [27]:
for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [28]:
coll_create.update_many({'companyName': 'iNeuron'} ,{"$set" :{'companyName': 'Nexus'}} )

UpdateResult({'n': 6, 'electionId': ObjectId('7fffffff0000000000000004'), 'opTime': {'ts': Timestamp(1713897140, 8284), 't': 4}, 'nModified': 6, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1713897140, 8580), 'signature': {'hash': b'+{\x9b9l\xb0]\xa1\x81q\x01\xfb\xb1 \xf9\x95K\xc5\x0fD', 'keyId': 7360031837336371205}}, 'operationTime': Timestamp(1713897140, 8284), 'updatedExisting': True}, acknowledged=True)

In [29]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6627f9e2845780b308c1fc02'), 'name': 'reza', 'age': 23, 'course': 'Data Science'}
{'_id': ObjectId('6627fb6c845780b308c1fc03'), 'mail_id': 'reza@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('6627fbb5845780b308c1fc04'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('6627fc05845780b308c1fc05'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6627fc05845780b308c1fc06'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6627fc05845780b308c1fc07'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6627fc05845780b308c1fc08'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6627fc05845780b308c1fc09'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6627fc05845780b308c1fc0a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6627fc05845780b308c1fc0b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6627fc05845780b308c1fc0c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6627fc05845780b308c1fc0d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6627fc05845780b308c1fc0e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6627fc05845780b308c1fc0f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6627fc05845780b308c1fc10'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6627fc23845780b308c1fc11'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6627fc6d845780b308c1fc12'), 'companyName': 'Nexus', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6627fc6d845780b308c1fc13'), 'companyName': 'Nexus', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6627fc6d845780b308c1fc14'), 'companyName': 'Nexus', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'Nexus', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'Nexus', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'Nexus', 'Faculty': 'PQR'}

In [30]:
# coll_create.drop()

In [31]:
# for i in coll_create.find():
#     print(i)