In [1]:
def test(a,b,c,d,e):
    pass

In [3]:
# test(1,2,3,4,5,6,7)
# Cell In[2], line 1
# ----> 1 test(1,2,3,4,5,6,7)

# TypeError: test() takes 5 positional arguments but 7 were given

In [4]:
# For any number of arguments in a function

In [5]:
def test1(*args):
    return args

In [6]:
test1(2)

(2,)

In [7]:
test1(1,2,3,4,5,5)

(1, 2, 3, 4, 5, 5)

In [8]:
test1("reza" , [1,2,3,4,5] , (1,2,3,4,5))

('reza', [1, 2, 3, 4, 5], (1, 2, 3, 4, 5))

In [9]:
def test2(*reza):
    return reza

In [10]:
test2(3,4,5,6)

(3, 4, 5, 6)

In [11]:
def test3(*args,a):
    return args,a

In [13]:
# test3(1,2,3,4)
# Cell In[12], line 1
# ----> 1 test3(1,2,3,4)

# TypeError: test3() missing 1 required keyword-only argument: 'a'

In [14]:
test3(1,2,3,4, a = 'reza')

((1, 2, 3, 4), 'reza')

In [15]:
def test4(*args):
    l = []
    for i in args:
        if type(i) == list :
            l.append(i)
            
    return l

In [16]:
test4(1,2,3,[1,2,3,4,4] , (1,2,3,4,4) , "reza" , [4,5,6] , [6,7,8])

[[1, 2, 3, 4, 4], [4, 5, 6], [6, 7, 8]]

In [17]:
# For any number of key-value arguments in a function
def test5(**kwargs):
    return kwargs

In [18]:
test5()

{}

In [19]:
type(test5())

dict

In [20]:
test5(a = 34 , b = 23 , c = [1,2,3,4] , d = ("subhan" , "mykills"))

{'a': 34, 'b': 23, 'c': [1, 2, 3, 4], 'd': ('subhan', 'mykills')}

In [21]:
# for extracting only list input
def test6(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
            return i, kwargs[i]

In [22]:
test6(a = 34 , b = 23 , c = [1,2,3,4] , d = ("subhan" , "mykills"))

('c', [1, 2, 3, 4])

In [23]:
# For any number of arguments and key-value arguments in a function
def test7(*args , **kwargs) : 
    return args , kwargs

In [24]:
test7(2,3,4,5,a= 34, b = 98)

((2, 3, 4, 5), {'a': 34, 'b': 98})