In [1]:
print("Hello World")

Hello World

In [2]:
age = 24
print("My age is:", age)

My age is: 24

In [3]:
print("My age is {age}")

My age is {age}

In [4]:
# fstring
print(f"My age is {age}")

My age is 24

In [5]:
# format
name = "Subhan"
age = 24
print("My name is {} and age is {} ".format(name,age))

My name is Subhan and age is 24

In [6]:
print("My name is {} and age is {} ".format(age,name))

My name is 24 and age is Subhan

In [7]:
# Placeholder
print("My name is {myname} and age is {myage} ".format(myage = age, myname = name))

My name is Subhan and age is 24

In [8]:
name = "Subhan Reza"
age = 24
degree = "B.Tech"
# My age is 24 and I have completed: my degree of B.Tech with the name of Subhan Reza

In [9]:
print("My age is {myage} and I have completed: my degree of {mydegree} with the name of {myname}".format(myage = age, mydegree = degree, myname = name))

My age is 24 and I have completed: my degree of B.Tech with the name of Subhan Reza

In [10]:
print(f"My age is {age} and I have completed: my degree of {degree} with the name of {name}")

My age is 24 and I have completed: my degree of B.Tech with the name of Subhan Reza

## Control Flow

### Decision Making Statement

In [11]:
# If statement
age = 18
if age >= 18:
    print("You are eligible to vote")

You are eligible to vote

In [12]:
18>19

False

In [13]:
16<18

True

In [14]:
# If statement
age = 17
if age <= 18:
    print("You are not eligible to vote")

You are not eligible to vote

In [15]:
# User Input
name = input("Enter your name: ")

Enter your name:  Subhan Reza

In [16]:
name

'Subhan Reza'

In [17]:
type(name)

str

In [ ]:
age = int(input("Enter your age: "))

In [ ]:
type(age)

In [ ]:
## Task
'''
** Take a input of age
** Check Whether age>=18 and age<=45
** display a message "you are a young blood"
'''

In [ ]:
age = int(input("Enter your age: "))
if age>=18 and age<=45:
    print("You are a young blood")

In [ ]:
# If-else statement
age = int(input("Enter your age: "))
if age>=18 and age<=45:
    print("You are a young blood")
else:
    print("Thank You! We will let you know")

In [ ]:
## mall- input the product price
## product>1000rs- 20% off
## print the price after removing the discount
## product<=1000rs- 30% off
## print the price after removing the discount

In [ ]:
product_price = int(input("Enter the price: "))
if product_price>1000:
    price = product_price-0.2*product_price
    print("The price of the product is {}".format(price))
else:
    price = product_price-0.3*product_price
    print("The price of the product is {}".format(price))

In [ ]:
product_price = int(input("Enter the price: "))
if product_price>1000:
    price = product_price-0.2*product_price
    print(f"The price of the product is {price}")
else:
    price = product_price-0.3*product_price
    print(f"The price of the product is {price}")

In [ ]:
## mall- input the product price
## product>3000rs- 20% off
## print the price after removing the discount
## product>=2000rs and <=3000- 30% off
## product==2999rs u will get additional gift
## print the price after removing the discount
## product>=100rs and <=2000- 40% off
## print the price after removing the discount

In [ ]:
product_price = int(input("Enter the price: "))
if product_price>3000:
    price = product_price-0.2*product_price
    print("The price of the product is {}".format(price))
elif product_price>=2000 and product_price <=3000:
    if product_price==2999:
        print("Congo u won an additional gift")
    price = product_price-0.3*product_price
    print("The price of the product is {}".format(price))
elif product_price>=100 and product_price <2000:
    price = product_price-0.4*product_price
    print("The price of the product is {}".format(price))
else:
    print("Let's drink tea")

In [ ]:
## Comparison operator
True==True

In [ ]:
## Single statement suites
val  = int(input("Enter the number: "))
if val<=999:print("The value is less than 999")
else:
    print("Omg value is larger")

## Loops statements
1. while loop
2. for loop
3. nested loop
4. loop control(break,continue,pass)

In [ ]:
# while loop while-else
joining_age = 25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("It's time for retirement")

In [ ]:
# Atm machine with 1000 rs
total_amount = 1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Please refill of cash at this ATM")

In [ ]:
# For loop
lst = [10,2,"Apple","Banana",30,5]

In [ ]:
lst

In [ ]:
for i in lst:
    print(i)

In [ ]:
for i in lst:
    print(i, end = ' ')

In [ ]:
fruits_basket = ['Kiwi','Grapes','Watermelon','Mango','Banana']

In [ ]:
for fruit in fruits_basket:
    if fruit=='Mango':
        print("King of all fruits")
    print(fruit)

In [ ]:
fruit = 'Grapes'
for x in fruit:
    print(x)

In [ ]:
fruit[3]

In [ ]:
## Nested loops

In [ ]:
# range() return an object that produce sequence of integers from start to end
range(1,6)

In [ ]:
for i in range(1,6):
    print(i)

In [ ]:
for i in range(1,10,2):
    print(i)

In [ ]:
# Nested loops
# Right-angled triangle
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print('\r')

In [ ]:
# Equilateral triangle
n=7
for i in range(1,n+1):
    # Print leading spaces
    for j in range(n-i):
        print(' ',end='')
        
    # Print asterisks for the current row
    for k in range(1, 2*i):
        print('*',end='')
    print('\n')

In [ ]:
fruits_basket

In [ ]:
## Loops control
## break and continue
for fruit in fruits_basket:
    if fruit=='Watermelon':
        break #skip the entire loop
    print(fruit)

In [ ]:
# continue
for fruit in fruits_basket:
    if fruit=='Mango':
        print("King of all fruits")
        continue #skip the single iteration
    print(fruit)

In [ ]:
# pass
for fruit in fruits_basket:
    if fruit=='Grapes':
        print("The fruits is grape")
        pass 
    print(fruit)